/*------------------------------------------------ Intro Section -------------------------------------------*/
:root {
    --side: 12.5rem;
}

#header {
    display: flex;
    justify-content: center;
}

#navbar {
    perspective: 31rem;
    display: flex;
    align-items: center;
    width: 90vw;
    height: 95vh;
    justify-content: center;
    cursor: grab;
}

#cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--side);
    height: var(--side);
    margin: 0;
    padding: 0;
    transition: 1s transform ease
}

.cubeSide {
    user-select: none;
    list-style-type: none;
    position: absolute;
    width: var(--side);
    height: var(--side);
    background-color: aliceblue;
}

.front {
    transform: rotateY(0deg) translateZ(var(--side));
    transform-origin: bottom;
}

.nav-title {
    text-align: center;
}

.right {
    transform: rotateY(90deg) translateZ(var(--side));
}

.back {
    transform: rotateY(180deg) translateZ(var(--side));
}

.left {
    transform: rotateY(-90deg) translateZ(var(--side));
}

.top {
    transform: rotateX(90deg) translateZ(var(--side));
}

.bottom {
    transform: rotateX(-90deg) translateZ(var(--side));
}

.cubeSide>.link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.text-link-title {
    font-size: 3rem;
    letter-spacing: .25rem;
}

.return-to-main-link {
    text-decoration: none;
}