:root {
    --side: 11.5rem;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#navbar {
    perspective: 61rem;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

#cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--side);
    height: var(--side);
    margin: auto 8rem 8rem;
    padding: 0;
    transition: 1s transform ease
}

.cubeSide {
    user-select: none;
    list-style-type: none;
    position: absolute;
    width: var(--side);
    height: var(--side);
    background-color: aliceblue;
}

.front {
    transform: rotateY(0deg) translateZ(var(--side));
    transform-origin: bottom;
}

.nav-title {
    text-align: center;
}

.right {
    transform: rotateY(90deg) translateZ(var(--side));
}

.back {
    transform: rotateY(180deg) translateZ(var(--side));
}

.left {
    transform: rotateY(-90deg) translateZ(var(--side));
}

.top {
    transform: rotateX(90deg) translateZ(var(--side));
}

.bottom {
    transform: rotateX(-90deg) translateZ(var(--side));
}

.cubeSide>.link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.text-link-title {
    font-size: 3rem;
    letter-spacing: .25rem;
}

.return-to-main-link {
    text-decoration: none;
}

/*-------------------------------- Arrows CSS ------------------------------*/
.swipeArrows {
    display: flex;
    width: 70%;
}

.arrow {
    color: white;
    cursor: pointer;
    height: 100%;
}

.leftArrowContainer {
    margin-right: auto;
}

.leftArrow {
    transform: rotate(90deg);
}

.rightArrowContainer {
    margin-left: auto;
}

.rightArrow {
    transform: rotate(270deg);
}

.arrow div {
    width: 2.5vw;
    height: 2.5vw;
    border-bottom: 0.2rem solid white;
    border-right: 0.2rem solid white;
    animation: animate 2s infinite;
}

.arrow div:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow div:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*--------------------------------------Text -------------------------------------------*/

.content {
    position: relative;
}

.monitor {
    width: 700px;
    height: 100px;
    background-color: #344151;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3)
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes move {
    from {
        left: 800px
    }

    to {
        left: -4800px
    }
}

@media screen and (min-width:360px) and (max-width:700px) {
    .swipeArrows {
        margin-bottom: auto;
    }
}

@media screen and (min-width: 700px) and (max-width:1000px) {
    .swipeArrows {
        margin-bottom: auto
    }

    .skill-text {
        font-size: 1.5rem;
    }

    .skill-image {
        height: auto;
    }
}

@media screen and (max-height:300px) {
    .swipeArrows {
        margin-bottom: 0 !important;
    }

    #cube {
        margin: 0
    }
}