:root {
    --side: 12.5rem;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#navbar {
    perspective: 31rem;
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
    cursor: grab;
}

#cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--side);
    height: var(--side);
    margin: 0;
    padding: 0;
    transition: 1s transform ease
}

.cubeSide {
    user-select: none;
    list-style-type: none;
    position: absolute;
    width: var(--side);
    height: var(--side);
    background-color: aliceblue;
}

.front {
    transform: rotateY(0deg) translateZ(var(--side));
    transform-origin: bottom;
}

.nav-title {
    text-align: center;
}

.right {
    transform: rotateY(90deg) translateZ(var(--side));
}

.back {
    transform: rotateY(180deg) translateZ(var(--side));
}

.left {
    transform: rotateY(-90deg) translateZ(var(--side));
}

.top {
    transform: rotateX(90deg) translateZ(var(--side));
}

.bottom {
    transform: rotateX(-90deg) translateZ(var(--side));
}

.cubeSide>.link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.text-link-title {
    font-size: 3rem;
    letter-spacing: .25rem;
}

.return-to-main-link {
    text-decoration: none;
}

/*Arrows CSS*/
.swipeArrows {
    margin: auto 8rem;
    display: flex;
    padding-bottom: 1rem;
}

.arrow {
    color: white;
    cursor: pointer;
    height: 100%;
}

.leftArrowContainer {
    margin-right: auto;
}

.leftArrow {
    transform: rotate(90deg);
}

.rightArrowContainer {
    margin-left: auto;
}

.rightArrow {
    transform: rotate(270deg);
}

.arrow div {
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow div:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow div:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}