html {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: var(--red-secondary) var(--mainTextColor);
    /* scroll thumb and track */
    font-size: 16px;
    background-color: var(--background-main);
    text-decoration: none;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    /*Colors*/
    --background-main: #19091a;
    --blue-secondary: #347;
    --red-secondary: rgb(199, 43, 65);
    --mainTextColor: #ececec;
    --anime-color: rgba(199, 43, 65, 0.3);
    --news-section-width: 70%;
    --startAnimation: 3s color: var(--mainTextColor);
}

/* Works on Chrome, Edge, and Safari */
html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: white;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--red-secondary);
    border-radius: 1.5rem;
}

/*Text selection*/
::selection,
::-moz-selection {
    color: var(--red-secondary);
}

body {
    font-family: 'Playfair Display', 'Open Sans', 'Archivo', sans-serif;
    margin: 0;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*---------------------------------------------------Welcome View --------------------------------------------------------------*/
html.hasNoScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

html.hasNoScroll::-webkit-scrollbar {
    display: none;
}

.textAnimation {
    color: red
}

@keyframes welcomeAnimation {
    from {
        right: 100%;
    }

    to {
        right: 0;
    }
}

@keyframes TextFadeAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes UpAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

#presentation-slide {
    display: flex;
    justify-content: center;
}

#welcome-view {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: var(--mainTextColor);
    color: var(--red-secondary);
    padding: 2% 4%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
    animation: 3s welcomeAnimation .25s cubic-bezier(0.5, 0.1, 0.1, 1) forwards;
}

#text-container {
    opacity: 0;
    width: 70%;
    animation: TextFadeAnimation 1s ease-in 3s forwards;
}

.button-text {
    font-size: 1.5rem;
    opacity: 0;
    animation: .8s UpAnimation 5s linear forwards;
    cursor: grab;
}


/*--------------------------------------------- Main General Settings and Custom Cursor ----------------------------------------*/
.section-header {
    color: white;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: Archivo;
}

.link {
    text-decoration: underline;
    color: var(--red-secondary);
    cursor: grab;
    margin: 0;
    width: fit-content;
    transition: color .6s ease-in-out;
}

/*Back Button*/
#back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--red-secondary);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: ripple 1.5s linear infinite;
    transition: all 0.7s ease;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 var(--anime-color),
            0 0 0 .0625rem var(--anime-color),
            0 0 0 .125rem var(--anime-color),
            0 0 0 .25rem var(--anime-color);
    }

    100% {
        box-shadow: 0 0 0 0 var(--anime-color),
            0 0 0 0.25rem var(--anime-color),
            0 0 0 0.875rem var(--anime-color),
            0 0 0 1.25rem var(--anime-color);
    }
}


.link:hover,
.link:focus,
.link:active {
    color: var(--blue-secondary);
}

/*Class for hover of custom cursor*/
.hoverText {
    color: #fff !important;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
}

/*------------------------------------------------ Intro Section -------------------------------------------*/
:root {
    --side: 12.5rem;
}

#header {
    display: flex;
    justify-content: center;
}

#navbar {
    perspective: 31rem;
    display: flex;
    align-items: center;
    width: 90vw;
    height: 95vh;
    justify-content: center;
    cursor: grab;
}

#cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--side);
    height: var(--side);
    animation: spin 30s infinite linear;
    margin: 0;
    padding: 0;
}

.cubeSide {
    user-select: none;
    list-style-type: none;
    position: absolute;
    width: var(--side);
    height: var(--side);
    background-color: aliceblue;
}

/*Added with React to pause the animation*/
.pausedAnimation {
    animation-play-state: paused !important;
}

.front {
    transform: rotateY(0deg) translateZ(var(--side));
    transform-origin: bottom;
}

.nav-title {
    text-align: center;
}

.right {
    transform: rotateY(90deg) translateZ(var(--side));
}

.back {
    transform: rotateY(180deg) translateZ(var(--side));
}

.left {
    transform: rotateY(-90deg) translateZ(var(--side));
}

.top {
    transform: rotateX(90deg) translateZ(var(--side));
}

.bottom {
    transform: rotateX(-90deg) translateZ(var(--side));
}

.cubeSide>.link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/*--------------------------------------------- Welcome Section ----------------------------------------------*/
#welcome-elements>.section-header {
    grid-area: title;
}

#welcome-elements {
    display: grid;
    grid: "title title title" auto "text void photo" auto / 60% 10% 30%;
}

#text-container {
    grid-area: text;
    margin: 0;
}

.presentation-text {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 1.5rem;
    letter-spacing: .15em;
    text-indent: 1rem;
    font-size: 1.5rem;
}

.word {
    /*display: inline-flex;
    /*justify-content: center; */
}


/*Photo section settings*/
#photo-container {
    grid-area: photo;
    margin: 0;
}

#personal-photo {
    width: 100%;
    filter: grayscale(100%);
}

/*--------------------------------------------- Projects Section CSS -----------------------------------------*/
.separate-section {
    display: grid;
    justify-items: center;
}

#projects {
    display: grid;
    text-decoration: none;
}

/*Project Class*/
.atomic-project {
    width: 45%;
    margin-bottom: 2%;
    border-radius: 0.625rem;
    padding: 1% 4%;
    background-color: black;
    transition: box-shadow 1.5s ease-out,
        background-color 1.8s ease-in-out;
}

.atomic-project:hover {
    box-shadow: inset 50rem 0 1px 0 rgba(51, 68, 119, .5);
    background-color: transparent;
}

/*Το CTA και το intro-header επηρεάζουν την σειρά κατάταξης των projects στην σκάλα*/
.atomic-project:nth-child(4n+2) {
    justify-self: start;
}

.atomic-project:nth-child(2n+3) {
    justify-self: center;
}

.atomic-project:nth-child(4n+4) {
    justify-self: end;
}

/*Change Default link styles*/
.atomic-project>a {
    text-decoration: none;
    color: var(--mainTextColor);
}

.project-title {
    color: var(--red-secondary);
    text-align: center;
    font-size: 2.5rem;
    font-family: Archivo, "sans-serif";
}

.project-description {
    text-align: justify;
    text-justify: distribute;
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;
}

/*--------------------------------------------- Technical Experience -----------------------------------------*/
#technical-experience {
    display: flex;
    justify-content: center;
}

.exp-text-constainer {
    padding-bottom: 1rem;
}

#experience-elements {
    width: 100%
}

.experience-element-container {
    display: grid;
    grid: "time decoration title" auto "time decoration description" auto / 20% 10% 70%;
    width: 100%;
}

/*Time Period Container*/
.time-period {
    grid-area: time;
    margin: 0;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.125rem;
}

.experience-title {
    display: flex;
    flex-flow: row wrap;

}

.experience-main-title {
    font-family: Archivo, "sans-serif";
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.125rem;
    font-weight: 400;
}

.experience-main-title,
.experience-link {
    text-decoration: underline;
    color: var(--red-secondary);
    cursor: grab;
    margin: 0;
    width: fit-content;
    transition: color .6s ease-in-out;
    display: block;
    word-break: break-all;
    padding-bottom: 1rem;
}


.experience-main-title:hover,
.experience-link:hover,
.experience-main-title:active,
.experience-link:active,
.experience-main-title:focus,
.experience-link:focus {
    color: var(--blue-secondary);
}

.experience-description {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1rem
}

h4.experience-secondary-title {
    color: #706f6f;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 2% 0;
}

.exp-text-container {
    flex: 4;
    grid-area: title;
    margin-bottom: .5rem;
}

/*Last Box Settings*/
.exp-text-container:last-child {
    padding-bottom: 0;
}

.decoration-container {
    grid-area: decoration;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.dec-bullet {
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--mainTextColor);
    border-radius: 50%;
    align-self: center;
}

.line {
    width: 0.125rem;
    height: 100%;
    background-color: var(--mainTextColor);
}

/*--------------------------------------------------- Skills -------------------------------------------------*/
#skills-section {
    display: flex;
    justify-content: center;
}

#skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

.skill-container {
    width: 28%;
    margin: 1%;
    max-width: 100%;
    min-width: 280px;
    background-color: var(--mainTextColor);
    color: #222;
    font-weight: 700;
    height: 40vh;
    display: flex;
    justify-content: center;
    position: relative;
    transition: background-color 0.2s linear;
}

.skill-image {
    width: 50%;
    height: 40vh;
}

.skill-text {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    text-align: center;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    color: var(--mainTextColor);
}

.skill-container:hover,
.skill-container:focus,
.touchedSkill {
    background-color: rgba(51, 68, 119, .5);
}

.skill-container:hover .skill-text,
.skill-container:focus .skill-text,
.touchedSkill .skill-text {
    visibility: visible;
    opacity: 1;
}

.touchedSkill {
    touch-action: none;
}

.skill-title {
    font-family: Archivo, "serif";
    font-weight: 900;
    font-size: 2rem;
}

.skill-url {
    color: var(--mainTextColor);
    display: block;
    margin-top: 4%;
    word-break: break-all;
}

/*--------------------------------------------------- Social Links ------------------------------------------------*/
#social-links-section {
    display: flex;
    justify-content: center;
}

#social-links {
    display: grid;
    grid: "area1 area1 void1 area2 area2" auto "void2 area3 area3 area3 void3" auto "area4 area4 void4 area5 area5" auto /20% 20% 20% 20% 20%;
    justify-items: center;
}

#links-container {
    flex: 1;
}

#socialLink-0 {
    grid-area: area1;
}

#socialLink-1 {
    grid-area: area2;
}

#socialLink-2 {
    grid-area: area3;
}

#socialLink-3 {
    grid-area: area4;
}

#socialLink-4 {
    grid-area: area5;
}

.link-container {
    text-decoration: none;
}

.social-link-title {
    font-size: 3rem;
    letter-spacing: .25rem;
}

.link-container:hover {
    animation: socialTextTransforms 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) .1s forwards;
}

/*Animation*/
@keyframes socialTextTransforms {
    25% {
        transform: translateX(10%) scale(2, 2);
        color: rgb(255, 0, 0);
    }

    50% {
        transform: translateX(10%) scale(2, 1);
        color: yellow;
    }

    75% {
        transform: translateX(50%) scale(2, 2);
        color: rgb(25, 194, 61);
    }

    100% {
        transform: translateX(0) scale(2, 2);
        color: grey;
    }
}

@media screen and (min-width:2000px) {
    html {
        font-size: 35px;
    }
}

@media screen and (min-width:360px) and (max-width:700px) {
    html {
        font-size: 10px;

    }

    /*Header*/
    :root {
        --side: 8rem;
    }

    #navbar {
        perspective: 20rem;
        justify-content: center;
        align-items: center;
    }

    /*Projects Section*/
    #projects {
        justify-content: center;
    }

    .atomic-project {
        width: 80%;
        padding: 5% 10%;
        margin-bottom: 10%;
    }

    .atomic-project:nth-child(4n+2),
    .atomic-project:nth-child(2n+3),
    .atomic-project:nth-child(4n+4) {
        justify-self: center;
    }

    /*Technical Experience*/
    .experience-element-container {
        grid: "time" auto "title" auto "description" auto "decoration" auto / 100%;
        justify-content: center;
    }

    .time-period {
        margin: 1rem 0;
    }

    .dec-bullet {
        display: none;
    }

    .decoration-container {
        margin-bottom: 1.5rem;
    }

    .line {
        height: 2px;
        background-color: var(--mainTextColor);
        width: 100%;
    }

    /*Skills*/
    .skill-container {
        width: 100%;
    }

    /*Social Links*/
    #social-links {
        padding-bottom: 8rem;
    }

    .social-link-title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 700px) and (max-width:1000px) {
    html {
        font-size: 13px;
    }

    /*Project*/
    .atomic-project {
        width: 65%;
    }

    .atomic-project:hover {
        box-shadow: inset 65vw 0 1px 0 rgba(51, 68, 119, .5);
    }

    /*Skills*/
    .skill-container {
        flex: 1;
        padding: 4rem 0;
        height: auto;
    }

    .skill-image {
        height: auto;
    }
}