:root {
    --animation-time: 2s
}

#presentation-slide {
    display: flex;
    justify-content: center;
    max-height: 98%;
}

#welcome-view {
    transform-style: preserve-3d;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    background-color: var(--mainTextColor);
    color: var(--red-secondary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
    animation: var(--animation-time) welcomeAnimation ease forwards;
}

.divAnimation {
    animation: var(--animation-time) welcomeOutAnimation 0s ease forwards !important;
}

.continue-animation {
    animation-fill-mode: backwards !important;
}

/*Animates the paragraphs*/
.presentation-slide-animation {
    transform: translate3d(0, 0, 550px) !important;
    transition: 1s transform ease;
}

@keyframes welcomeAnimation {
    from {
        width: 0;
        right: 100%;
    }

    to {
        right: 0;
    }
}

@keyframes welcomeOutAnimation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

#text-container {
    grid-area: text;
    margin: 0;
    width: 70%;
}

@keyframes TextFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes TextFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.presentation-text {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 1.5rem;
    letter-spacing: .15em;
    font-size: 1.5rem;
}

.word {
    transform-style: preserve-3d;
    display: inline-block;
    padding-left: 1rem;
    font-size: 2.5rem;
    font-weight: 600
}